@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage

<section class="company-info-section">
    <div class="container">
        <div class="info-box">
            <p><i class="fa-sharp fa-regular fa-location-dot"></i></p>
            <div class="company-info">
                <h4>Visit us</h4>
                <p>@Model.Value("companyInfoStreetName")</p>
                <p>@Model.Value("companyInfoPostalCode"), @Model.Value("companyInfoCity")</p>
            </div>
        </div>

        <div class="info-box">
            <p><i class="fa-sharp fa-solid fa-phone"></i></p>
            <div class="company-info">
                <h4>Call us</h4>
                <p>@Model.Value("companyInfoPhone1")</p>
                <p>@Model.Value("companyInfoPhone2")</p>
            </div>
        </div>
        <div class="info-box">
            <p><i class="fa-light fa-envelope"></i></p>
            <div class="company-info">
                <h4>Email us</h4>
                <p>@Model.Value("companyInfoEmail1")</p>
                <p>@Model.Value("companyInfoEmail2")</p>
            </div>
        </div>
    </div>
</section>