@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;

<section class="services-section">
    <div class="container">
        <h4 class="title">@Model.Value("serviceSectionTitle")</h4>
        <h1>@Model.Value("serviceHeaderTitle")</h1>
        <div class="service-boxes">
            @Html.GetBlockListHtml(Model.ServiceBoxes)
        </div>
        <div class="button">
            <a class="btn-theme" href="@Model.Value("serviceSectionBtnUrl")">@Model.Value("serviceSectionBtnText")<i class="fa-solid fa-arrow-up-right"></i></a>
        </div>
    </div>
</section>