@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.HomePage>
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Models.Blocks;

@{

}

<section class="team-section">
    <div class="container">
        
        <div class="team">
            <h4 class="team-title">@Model.Value("ourTeamSectionTitle")</h4>
            <h1 class="second-title">@Model.Value("ourTeamHeadingTitle")</h1>
            <a class="btn-theme" href="@Model.Value("ourTeamBtnUrl")">Browse Team <i class="fa-regular fa-arrow-up-right"></i></a>
            

            <div class="team-members">
                <div class="team-member-container">
                    @foreach (var block in Model.OurTeamMembers)
                    {
                        if (block is Umbraco.Cms.Core.Models.Blocks.BlockListItem blockListItem)
                        {
                            var content = blockListItem.Content as ContentModels.TeamMemberBox;
                            if (content != null)
                            {
                                var teamMemberImg = content.Value<IPublishedContent>("teamMemberImg")?.Url();
                                var teamMemberName = content.Value<string>("teamMemberName");
                                var teamMemberTitle = content.Value<string>("teamMemberTitle");
            
                                <div class="team-member">
                                    <img src="@teamMemberImg" alt="">
                                    <h3 class="team-name">@teamMemberName</h3>
                                    <h4 class="team-role">@teamMemberTitle</h4>
                                </div>
                            }
                        }
                    }
                </div>
                <button class="prev-button"><</button>
                <button class="next-button">></button>
            </div>

        </div>
        
        
        <div class="testimonial">
                <h4 class="testimonal-title">Testimonial</h4>
                <h1 class="second-title">What Our Client Says</h1>
                <div class="reviews">

                    <div class="review">
                        <p class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </p>
                        <p class="body">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        <div class="reviewer">
                            <div class="reviewer-img">
                                <img src="~/static/reviews/christina-wocintechchat-com-PlikkWB79qs-unsplash.jpg" alt="">
                            </div>
                            <div class="reviewer-body">
                                <h3 class="review-name">Cassandra Warren</h3>
                                <h4 class="review-role">Business Manager, Dorfus</h4>
                            </div>
                        </div>
                    </div>

                    <div class="review">
                        <p class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </p>
                        <p class="body">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        <div class="reviewer">
                            <div class="reviewer-img">
                                <img src="~/static/reviews/joseph-gonzalez-iFgRcqHznqg-unsplash.jpg" alt="">
                            </div>
                            <div class="reviewer-body">
                                <h3 class="review-name">Cassandra Warren</h3>
                                <h4 class="review-role">Business Manager, Dorfus</h4>
                            </div>
                        </div>
                    </div>

                    <div class="review">
                        <p class="stars">
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                            <i class="fa-solid fa-star"></i>
                        </p>
                        <p class="body">"Lorem ipsum dolor, sit amet consectetur adipisicing elit. Laudantium libero, ad dignissimos velit qui, dolorum obcaecati cum saepe nesciunt nemo eligendi numquam voluptate"</p>
                        <div class="reviewer">
                            <div class="reviewer-img">
                                <img src="~/static/reviews/vince-veras-AJIqZDAUD7A-unsplash.jpg" alt="">
                            </div>
                            <div class="reviewer-body">
                                <h3 class="review-name">Cassandra Warren</h3>
                                <h4 class="review-role">Business Manager, Dorfus</h4>
                            </div>
                        </div>
                    </div>
                </div>
            <div class="testimonial-btn">
                <a class="btn-dark" href="reviews.html">All Reviews <i class="fa-regular fa-arrow-right"></i></a>
            </div>
        </div>
        
    </div>
</section>