@using Umbraco.Cms.Web.Common.PublishedModels;
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<ContentModels.NewsPage>
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@{
    Layout = "_Layout.cshtml";
    ViewData["PageTitle"] = @Model.Value("pageTitle");
    ViewData["PageDescription"] = @Model.Value("pageDescription");

    var itemsPerPage = 6;
    var pageNumber = 1;

    if (!int.TryParse(Context.Request.Query["page"], out pageNumber))
        pageNumber = 1;

    var selection = Umbraco.Content(Guid.Parse("581fc5b5-fc8e-4a9f-adad-a4094d7d7fef"))?
        .ChildrenOfType("newsDetailsPage")?
        .Where(x => x.IsVisible())
        .OrderByDescending(x => x.CreateDate).ToList();


    var totalItems = selection?.Count() ?? 0;
    var pagedItems = selection?.Skip((pageNumber - 1) * itemsPerPage).Take(itemsPerPage);

    
}

<header>
    <img class="background-lines" scr="~/static/background-effects/background-lines.svg" alt="">
    
    @await Html.PartialAsync("_NavSection")
    @await Html.PartialAsync("_BreadcrumbSection")

</header>

<main>
    
    <section class="all-articles">
        <div class="container">
            <h1>Our News & Articles</h1>
            <div class="articles">
                    
                @if(pagedItems != null)
                {
                    @foreach (var item in pagedItems!)
                    {
                        var url = item.Url();
                        var date = item.CreateDate;
                        var image = item.Value<IPublishedContent>("newsArticleImg");
                        var category = item.Value("newsArticleCategory");
                        var title = item.Name();
                        var preamble = item.Value("newsArticlePreamble");
    
                        <a href="@url" class="article-card">
                            <img src="@image?.Url()" alt="Article Image">
                            <p class="category">@category</p>
                            <h4 class="article-title">@title</h4>
                            <p class="article-body">@preamble</p>
                            <p class="date">@date.ToString("dd") <br> @date.ToString("MMM")</p>
                        </a>
                    }
                }
            </div>

            <nav class="pagination-section">
                @if (pageNumber > 1)
                {
                    <a href="?page=@(pageNumber - 1)" class="item-link link-prev" aria-label="Previous">
                        <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-light"></i></span>
                    </a>
                }

                @for (int i = 1; i <= Math.Ceiling((decimal)totalItems / itemsPerPage); i++)
                {
                    if (i == pageNumber)
                    {
                        <a href="#" class="item-link active">@i</a>
                    } 
                    else
                    {
                        <a href="?page=@i" class="item-link">@i</a>
                    }
                }
                

                @if (pageNumber < Math.Ceiling((decimal)totalItems / itemsPerPage))
                {
                    <a href="?page=@(pageNumber + 1)" class="item-link link-next" aria-label="Next">
                        <span aria-hidden="true"><i class="fa-sharp fa-solid fa-chevron-light"></i></span>
                    </a>
                }


            </nav>

        </div>
    </section>
    
    @await Html.PartialAsync("_SubscribeSection")
    
</main>